body {
	background-color: #eee;
	width: 80%;
	height: 300vh;
	margin: auto;
}

nav {
	background-color: white;
	border-bottom: 1px solid #eee;
	margin: 2px;
	padding: 0.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav ul {
	list-style: none;
}
nav ul li {
	display: inline;
	margin: 0 10px;
}
nav ul li a {
	color: black;
	text-decoration: none;
}

main {
	display: flex;
	background-color: white;
}

.section {
	flex-basis: 80%;
	display: flex;
	flex-direction: column;
	max-height: 350vh;
	flex-wrap: wrap;
	padding: 10px;
	margin: 3px;
}

article {
	width: 45%;
	border-bottom: 1px solid black;
	padding: 10px;
	margin: 5px;
	flex: 1 1 auto;
}

aside {
	flex-basis: 20%;
	padding: 10px;
	margin: 5px;
}

/*Imagenes*/
.icons {
	color: black;
	font-size: 2.5em;
}
.section_img {
	display: block;
	margin: 10px auto;
	width: 350px;
	height: 350px;
	object-fit: cover;
}

/*.img_height{
    height: 700px;
    object-fit: cover;
}*/
.aside_img {
	display: block;
	margin: 10px auto;
	width: 250px;
	object-fit: fill;
}

.section article:nth-child(5) img,
.section article:nth-child(2) img {
	height: 700px;
	object-fit: cover;
	flex: 2 2 auto;
}

article p {
	text-align: center;
}
article small {
	font-style: italic;
}
